.home-bgImg-container{
    @include bgImg(100vh, $main-bgImg-path);
}

.home{
    justify-content: center;
    display: flex;
    align-items: center;
    height: 80vh;
    flex-direction: column;

    & h2{
        font-size: 3rem;
        color: red;
    }

    & h1{
        font-size: 5rem;
    }

}

