.home-social{
    font-size: 2.5rem;
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    
    
    & a{
        color: white;
        padding: 0px 6px;
        @include transition(1s);

        &:hover{
            color: brown;
            // transition: all is ease-in-out;
           
        }
    }
}